html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    font-family: sans-serif;
}

#captureButton {
   
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#captureButton:hover {
    background-color: #367c39;
}
.line {    
    margin: 0;
    
    justify-content: space-between;
    width: 100%;
    display: flex;
}

textarea, #answerArea {
    width: 100%; 
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

#answerArea {
    min-height: 50px;
    background: #f9f9f9;
}

.wrapper{
    padding:5px
}
select{
    width: 100%;
    padding: 5px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}